
<div class="container">
    
            <div class = "welcome-loader">
                <div>
                        <div class="loader-name loader-name-animation " id="loader-name"><strong>Welcome To AKDFIA</strong></div>
                        <!-- <p class="loader-job loader-job-animation" id="loader-job">All Kerala Dairy Farm Instructors Association</p>         -->
                        <div class="details-about-AKDFA loader-job loader-job-animation">
                                The All Kerala Dairy Farm Instructors Association was registered under the order No. 
                                GO(MS) NO.266/78/GAD/Thiruvananthapuram dated 13.6.1978 with the registration Number 204/78.
                                 All Kerala Dairy Farm Instructors Association was formed in the year 1978.
                                
                        </div>
                </div>
                   
                </div>
           
        <div class="big-image big-image-url1">
               
        </div>
</div>
<footer-page></footer-page>