<div class="content-container">
  <div class="paragraph-container container-first-child">
    <p class="paragraph-header">
      About Us
    </p>
    <p class="paragraph-content">
      The All Kerala Dairy Farm Instructors Association was registered under the order No. GO(MS)
      NO.266/78/GAD/Thiruvananthapuram dated 13.6.1978 with the registration Number 204/78. All Kerala Dairy Farm
      Instructors Association was formed in the year 1978. Ever since its formation, the association was working for
      preserving and strengthening the unity, boosting up efficiency and for bettering the service condition of dairy
      farm instructors in kerala.


    </p>
    <p class="paragraph-content">

      While we have been co-operative with all other association's to fight again all anti-labor elements and actions,
      We have also taken bold steps to prevent division among our members. We strongly believe and up hold that the
      primary function of the association is to look after the interest of its member and there by enrich the
      development in dairy sector.

    </p>
    <p class="paragraph-content">
            Dairy Farm Instructors are the cutting edge of Dairy Extension activities in the State of Kerala. There are 269
      sanctioned posts in the state and posted at 152 Dairy Extension Service Units through out the state.
      <!-- Their major responsibilities include: -->
    </p>

  </div>
  <div class="paragraph-container">
    <p class="paragraph-header">
      <!-- EXTENSION ACTIVITIES --> Responsibilities Of Dairy Farm Instructors
    </p>
    <div class="paragraph-content">
      <!-- <ul> -->
        <h5>EXTENSION ACTIVITIES</h5>

        <li>Conduct Farmers Contact Programmes</li>
        <li>Discussion Classes for dairy farmers</li>
        <li>Assist Dairy Extension Officer to organize block level Cattle Show, Seminar, etc.</li>
        <li>Selection of beneficiaries for various plan schemes implemented by the Department of Dairy Development at
          Block level</li>
        <li>Assist dairy farmers to implement such schemes</li>
        <li>Continuous monitoring and evaluation of implemented schemes, etc.</li>
       
        <h5>STATUTORY DUTIES</h5>

        <li>Statutory administration</li>
        <li>Supervision and Inspection of Primary Dairy Co - operative Societies in the jurisdiction Act as Returning Officer</li>
        <li>Part -Time Administrator,</li>
        <li>Enquiry Officer</li>
        <li>Arbitrator</li>
        <li>Sale Officer etc. with respect to Primary Dairy Co-operative Societies as per the orders of the Registrar</li>


        <h5>EXTENSION ACTIVITIES</h5>

        <li>Act as Implementing Officers to implement plan schemes of Grama Panchayats fall in in the jurisdiction targeting dairy farmers</li>
        <h5>KDFWF</h5>

        <li>Act as verification officer at the Block Level for various programmes of Kerala Dairy Farmers Welfare Fund Board</li>

      </div>

  </div>

</div>