<div class="big-logo" >
    <div class="big-logo big-logo-url1">

    </div>
    <div class="header-text">
        <div class="header-text-main">AKDFIA</div>
        <div class="header-text-main-sub">All Kerala Dairy Farm Instructors Association</div>
       
    </div>
    <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
    </div>
    <div class="nav-container">

            <div class="trigger">Menu</div>
            <div class="nav-menu">
                <ul class="clearfix">
                    <li><a routerLink="Home">Home</a></li>
                    <li><a routerLink="AboutUs">About</a></li>
                    <li><a routerLink="LattestNews">Latest News</a></li>
                    <li><a routerLink="GovernamentOrders">Government Orders</a></li>
                    <li><a routerLink="Projects">Projects</a></li>
                    <li><a routerLink="Downloads">Downloads</a></li>
                    <li><a routerLink="Contact">Contact</a></li>

                </ul>
            </div>

    </div>
</div>